.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(4, 0, 89, 0.7), rgb(141, 95, 2));
}

.homeContainer h1 {
    width: 33%;
    margin: 20px auto;
    color: white;
    text-align: center;
}